body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  /* Add styles for iPhone and Android screens */
  body {
    font-size: 16px;
  }
  /* Add styles for specific elements */
  .element {
    width: 100%;
    height: 100%;
  }
}

.header {
  text-align: center;
  padding: 40px;
  font-size: 32px;
  background-color: #7eeb83;
}

.navbar  {
  display: flex;
  justify-content: space-around;
  background-color: #78E33D ;
  padding: 10px;
}

.navbar a:hover {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.content {
  height: 500px;
  padding: 20px;
}

img {
  float: left;
  margin-left:0;
}