body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  /* Add styles for iPhone and Android screens */
  body {
    font-size: 16px;
  }
  /* Add styles for specific elements */
  .element {
    width: 100%;
    height: 100%;
  }
}

.header {
  text-align: center;
  padding: 40px;
  font-size: 32px;
  animation: rainbowColorChange 20s linear infinite;
}

@keyframes rainbowColorChange {
  0% {background-color: #ff0000;}
  14% {background-color: #ff7f00;}
  28% {background-color: #ffff00;}
  42% {background-color: #00ff00;}
  56% {background-color: #0000ff;}
  70% {background-color: #4b0082;}
  84% {background-color: #9400d3;}
  100% {background-color: #ff0000;}

}

.navbar  {
  display: flex;
  justify-content: space-around;
  background-color: #78E33D ;
  padding: 10px;
}

.navbar a:hover {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.content {
  height: 500px;
  padding: 20px;
}

figure {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

figcaption {
  display: block;
  position: absolute;
  bottom: -60px;
  left: 0;
}

.text{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-left: 20px;
}

.image-container {
  display: block;
}

.image-container img {
  display: inline-block;
  vertical-align: top;
}

.image-container .text2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}



img {
  float: left;
  margin-left:0;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-list li {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.blog-list li:last-child {
  border-bottom: none;
}

.blog-list a {
  text-decoration: none;
  color: #337ab7;
}

.blog-list a:hover {
  color: #23527c;
}

/* Add styles for hot_takes.html here */
.hot-takes {
  background-color: #6ffcdd;
  padding: 20px;
}

.hot-takes h2 {
  color: #337ab7;
}

f